<!DOCTYPE html>
<html  lang="en">
<head>
    <meta name="theme-color" content="#ffffff"/>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Azure Friday - Search through past episodes of the Azure Friday cloud video podcast with Scott Hanselman and learn more about the Azure Cloud!">
    <link rel="apple-touch-icon" href="~/imgs/icons/icon-192x192.png">

    <title>Azure Friday - Learn about the Azure cloud with this free weekly educational video podcast with Scott Hanselman and Friends!</title>

    @* <environment include="Development">
        <link rel="stylesheet" href="~/lib/ionic/css/ionic.bundle.css">
        <link rel="stylesheet" type="text/css" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@ionic/core/css/ionic.bundle.css"/>
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment> *@
    
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@ionic/core/css/ionic.bundle.css"/>
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    
    <link rel="manifest" href="/manifest.json">

      <!-- Facebook Meta Tags -->
  <meta property="og:url" content="http://www.azurefriday.com">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Azure Friday - Learn about the Azure cloud with this free weekly educational video podcast with Scott Hanselman and Friends!">
  <meta property="og:description" content="Azure Friday - Search through past episodes of the Azure Friday cloud video podcast with Scott Hanselman and learn more about the Azure Cloud!">
  <meta property="og:image" content="~/imgs/icons/AzureFridayBannerThing.jpg">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="~/imgs/icons/AzureFridayBannerThing.jpg">
  <meta property="twitter:domain" content="azurefriday.com">
  <meta property="twitter:url" content="http://www.azurefriday.com">
  <meta name="twitter:title" content="Azure Friday - Learn about the Azure cloud with this free weekly educational video podcast with Scott Hanselman and Friends!">
  <meta name="twitter:description" content="Azure Friday - Search through past episodes of the Azure Friday cloud video podcast with Scott Hanselman and learn more about the Azure Cloud!">
  <meta name="twitter:image" content="">


     <script>
         
        // Check if browser supports service worker
        if ('serviceWorker' in navigator) {
            //Register the ServiceWorker
                navigator.serviceWorker.register('/sw.js', {
                        scope: './'
                })
                .then((registration)=>{
                    var serviceWorker;

                    if (registration.active) {
                        serviceWorker = registration.active;
                  
                            serviceWorker.addEventListener('statechange', function (e) {
                            // logState(e.target.state);
                            let confirmRefresh = confirm("New version of this site is available, reload page?");

                              if(confirmRefresh) {
                                window.location.reload();
                            }
                        });
                    }
                });

            
        }
    </script>

</head>
<body>
    <ion-app>
        <ion-header>
            <ion-toolbar>
                <ion-buttons slot="start">
                    <ion-button id="header-home-button" href="/">Azure Friday</ion-button>
                </ion-buttons>
            </ion-toolbar>
        </ion-header>
        
        <ion-content>
        
        @RenderBody()

            
            <ion-toolbar>
                <ion-buttons slot="end">
                    <ion-button href="/Privacy">Privacy</ion-button>
                    <ion-button id="changePreferences">Change Preferences</ion-button>
                </ion-buttons>
            </ion-toolbar>
        </ion-content>
        
        <ion-fab id="scrollToTopFab" vertical="bottom" horizontal="end" slot="fixed">
            <ion-fab-button onclick="scrollToTop()" id="scrollToTop" class="scrollToTop" title="Go to top">
                <ion-icon name="arrow-up-circle"></ion-icon>
            </ion-fab-button>
        </ion-fab>

        <ion-footer>
            <ion-toolbar>
                <ion-title>
                    &copy; @DateTime.Now.Year - Azure Friday with code by <a href="https://asincole.com/">@@asincole</a> and <a href="https://www.hanselman.com/">@@shanselman</a>, powered by @System.Runtime.InteropServices.RuntimeInformation.FrameworkDescription
                </ion-title>
            </ion-toolbar>
        </ion-footer>
    </ion-app>
    
    <script type="module" src="https://cdn.jsdelivr.net/npm/@@ionic/core/dist/ionic/ionic.esm.js"></script>
    <script nomodule src="https://cdn.jsdelivr.net/npm/@@ionic/core/dist/ionic/ionic.js"></script>
    @RenderSection("loadListJs",required: false)
    @* <environment include="Development">
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment> *@
    
        <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
